[hub]
    protocol = https
[user]
    name  = Stefan Novak
    email = stefan@novak.io
[credential]
    helper = osxkeychain
[alias]
    co                = checkout
    promote           = !$ZSH/bin/git-promote
    wtf               = !$ZSH/bin/git-wtf
    rank-contributers = !$ZSH/bin/git-rank-contributers
    count             = !git shortlog -sn
[color]
    diff   = auto
    status = auto
    branch = auto
    ui     = true
[core]
    excludesfile = ~/.gitignore
    editor       = vim
[apply]
    whitespace = nowarn
[mergetool]
    keepBackup = false
[difftool]
    prompt = false
[help]
    autocorrect = 1
[push]
    default = simple
[filter "media"]
    clean    = git media clean %f
    smudge   = git media smudge %f
    required = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[pager]
    diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX
[ghq]
    root = ~/dev/src
